.map-container {
  position: absolute;
  top: 10;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.map-frame {
  border: 2px solid gray;
  height: 92%;
  width: 100%;
}

#map {
  height: 100%;
}

.font-mon {
  font-family: 'Montserrat', sans-serif; 
  font-weight: 700; 
}